Source: com.github.manexim.home
Section: x11
Priority: optional
Maintainer: Marius Meisenzahl <mariusmeisenzahl@gmail.com>
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libhandy-1-dev,
               libjson-glib-dev,
               libgee-0.8-dev,
               libgranite-dev,
               libsoup2.4-dev,
               libxml2-dev,
               uuid-dev,
               valac
Standards-Version: 3.9.3

Package: com.github.manexim.home
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Home
 Control your smart home gadgets
